:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

body{
    font-family: var(--primary-font);
    color: #434455;
    background-color: #FFFFFF;   
}

.logo{
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }

.logo-accent-color{
    color: #2e2f42
}

.link{
    text-decoration: none;
}

.link:focus,
.link:hover{
    color: #404bbf;
}


/* Navigation */
.list{
    list-style: none;
    
}

.list-style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}

.list-style:hover,
.list-style:focus{
    text-decoration: underline;
}


/* Contact */
.contact-style{
    font-style: normal;    
}

.contact-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Main content */
/* Title h1 */
.main-screen{
    background-color: #2E2F42;
}
.title-style{
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
}

.order-button{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    }

.order-button:hover,
.order-button:focus{
    background-color: #404BBF;
}



/* Benefits */
.benefits-style{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}

.paragraph-style{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* About us */
.about-us-style,
.team-style{
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;   
}

.member-card{
    background-color: #FFFFFF;
}

.title-card{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.position-card{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.cloud-bg{
    background-color: #F4F4FD;
}

.filter-button-style{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
    cursor: pointer;
}

.filter-button-style:hover, 
.filter-button-style:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.project-card-header{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-card-other{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}

.footer-accent-color{
    color: #f4f4fd;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
